* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 16px;
  color: #4A4A4A;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* #F8F9FA */
body {
  background-color: #ffffff;
}

.wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1770px;
  /* border: 1px solid orange; */
}

.section-heading {
  color: #1A1A1A;
  font-weight: 600;
  font-size: 28px;
  margin: 50px 0 30px 0;
}

.alt-text {
  color: #F8F9FA;
}

@media (max-width: 420px) {
  .wrap {
      max-width: 300px;
  }
  .section-heading {
    font-size: 22px;
  }
}

@media (max-width: 1770px) and (min-width: 420px) {
  .wrap {
      width: 90%;
  }
}