.container {
    width: 300px;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.iconContainer {
    position: absolute;
    top: 10px;
    left: 12px;
    // border: 1px solid red;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    // border: 1px solid brown;
    margin: 18px 18px 22px 60px;
}

.organization {
    font-weight: 500;
    font-size: 14px;
}

.about {
    margin-top: 6px;
    font-weight: 600;
}