.container {
    position: relative;
    overflow: hidden;
}

.overlay {
    opacity: .4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    z-index: 666;
}

.contentArea {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 777;
    display: flex;
}