.container {
    /* border: 1px solid brown; */
    margin-bottom: 18px;
}

.addressContainer {
    display: flex;
    align-items: center;
    gap: 1px;
}

.address {
    font-family: 'Montserrat Light';
    font-weight: 300;
    font-style: normal;
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .addressContainer {
        align-items: start;
    }
}