.container {
    z-index: 2000;
}

.description {
    font-size: 15px;
    max-width: 450px;
}

.service {
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
    color: #E6F27A;
}

.heading {
    font-weight: 600;
}
.ul h3 {
    margin: 12px 0;
}
.ul h3::before {
    content: '✅ ';
}

@media (max-width: 420px) {
    .service {
        // color: #F8F9FA;
    }
}