.container {
    color: #FFFFFF;
    z-index: 2000;
}

.description {
    font-size: 15px;
}

.service {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
    color: #2585c9;
}

.heading {
    font-weight: 600;
}
.ul li {
    margin: 12px 0;
}
.ul li::before {
    content: '✅ ';
}

@media (max-width: 420px) {
    .service {
        color: #FFFFFF;
    }
}