.container {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
    /* border: 1px solid green; */
    column-gap: 9px;
}

.fig {
    position: relative;
    display: block;
    /* border: 1px solid lime; */
}

.insideContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    width: 100%;
    display: block;
    object-fit: cover;
    /* border: 1px solid red; */
}

.imageFullSize {
    height: 364px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.imageHalfSize {
    height: 177px;
}

.imageTop {
    border-top-right-radius: 20px;
}

.imageBottom {
    border-bottom-right-radius: 20px;
}
.figBG {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 888;
    background-color: #000;
    opacity: 0.4;
    height: 50px;
}

.figBGHidden {
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
