.container {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.heading {
    font-family: Impact;
    font-weight: 400;
    font-size: 48px;
}

.position {
    font-weight: 600;
    font-size: 20px;
}

.description {
    max-width: 390px;
    margin-top: 20px;
    font-size: 16px;
    color: #E2E4E8;
}

.promo {
    margin: 20px 0 60px 0;
    font-weight: 600;
    font-size: 16px;
}

.buttonsContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 80px;
}

@media (max-width: 420px) {
    .heading {
        font-size: 42px;
    }
    .buttonsContainer {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .promo {
        margin-bottom: 40px;
    }
}